<%- include("parials/header") -%>



<h1>Compose</h1>



 <div class="form-group">
   <form class="item" action="/" method="post">
     <label>Title</label>
      <input type="text" class="form-control" id="fname" name="title" placeholder="Post Title" autocomplete="off">
      <br><label>Post</label>
      <br><textarea name="desc" class="form-control" cols="70" rows="5"  placeholder="Article"></textarea>
      <br><button type="submit" class="btn btn-primary">Publish</button>
    </form>
</div














<%- include("parials/footer") -%>
