<%- include("parials/header") -%>



<h1>Posts</h1>






<% for (var i = 0; i < article.length; i++) {%>

  <h2><%= article[i].title %></h2>
 <h7> <%= article[i].body%> </h7>


<%}%>








<%- include("parials/footer") -%>
